<div class="page-container">
  <mat-table
    [dataSource]="dataSource"
    matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header> ID
      </mat-header-cell>
      <mat-cell *matCellDef="let rental"> {{ rental.id }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="start">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header> Start Date
      </mat-header-cell>
      <mat-cell *matCellDef="let rental"> {{ rental.start | date:'short' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="end">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header> End Date
      </mat-header-cell>
      <mat-cell *matCellDef="let rental"> {{ rental.end | date:'short' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="startLocation">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header> Start Location
      </mat-header-cell>
      <mat-cell *matCellDef="let rental">
        {{ rental.startLocation.lat }}, {{ rental.startLocation.lng }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="endLocation">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header> End Location
      </mat-header-cell>
      <mat-cell *matCellDef="let rental">
        {{ rental.endLocation.lat }}, {{ rental.endLocation.lng }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="duration">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header> Duration
      </mat-header-cell>
      <mat-cell *matCellDef="let rental"> {{ rental.duration }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="identificationCard">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header> ID Card
      </mat-header-cell>
      <mat-cell *matCellDef="let rental"> {{ rental.identificationCard }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="driverLicence">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header> Driver Licence
      </mat-header-cell>
      <mat-cell *matCellDef="let rental"> {{ rental.driverLicence }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="userFirstAndLastName">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header> User Name
      </mat-header-cell>
      <mat-cell *matCellDef="let rental"> {{ rental.userFirstAndLastName }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="vehicleCodeAndModel">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header> Vehicle Code - Model
      </mat-header-cell>
      <mat-cell *matCellDef="let rental"> {{ rental.vehicleCodeAndModel }} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<mat-paginator
  (page)="onPageChange($event)"
  [length]="totalRentals"
  [pageSize]="pageSize"
  class="mat-paginator"
></mat-paginator>
