<div class="password-form-container">
  <div
    class="password-form-container__header"
    mat-dialog-title>Change password
  </div>
  <form
    [formGroup]="passwordForm"
    class="password-form">
    <mat-form-field class="form-field">
      <mat-label>Old password</mat-label>
      <input
        formControlName="currentPassword"
        matInput
        type="password">
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>New password</mat-label>
      <input
        formControlName="newPassword"
        matInput
        type="password">
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Repeat new password</mat-label>
      <input
        formControlName="repeatNewPassword"
        matInput
        type="password">
    </mat-form-field>
    <mat-error
      *ngIf="hasPasswordsMatchError"
      class="mat-error">Passwords don't match.
    </mat-error>
  </form>
  <div
    class="button-wrapper"
    mat-dialog-actions>
    <button
      (click)="onDiscardPasswordClick()"
      class="button-discard"
      mat-button>Discard
    </button>
    <button
      (click)="onSubmitPasswordClick()"
      [disabled]="disableSave"
      class="button-save"
      mat-button>
      Save
    </button>
  </div>
</div>
